<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Sp01.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,2},{40,13}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{40,13}}</string>
                <key>sourceSize</key>
                <string>{40,17}</string>
            </dict>
            <key>Sp02.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,17},{36,30}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{36,30}}</string>
                <key>sourceSize</key>
                <string>{44,32}</string>
            </dict>
            <key>Sp03.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,2},{36,32}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{36,32}}</string>
                <key>sourceSize</key>
                <string>{44,32}</string>
            </dict>
            <key>Sp04.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,36},{32,30}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{32,30}}</string>
                <key>sourceSize</key>
                <string>{44,32}</string>
            </dict>
            <key>Sp05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{44,30}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{44,30}}</string>
                <key>sourceSize</key>
                <string>{44,32}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Sp_Props.png</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a4e03e4b6646b6168ca23aa1a4e03995$</string>
            <key>textureFileName</key>
            <string>Sp_Props.png</string>
        </dict>
    </dict>
</plist>
