<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BombPig.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,44},{47,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,40}}</string>
                <key>sourceSize</key>
                <string>{47,40}</string>
            </dict>
            <key>BombPigEnd.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,77},{44,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,40}}</string>
                <key>sourceSize</key>
                <string>{44,40}</string>
            </dict>
            <key>BombPigFly.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{53,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,40}}</string>
                <key>sourceSize</key>
                <string>{53,40}</string>
            </dict>
            <key>CeramPig.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,86},{40,38}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{40,38}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>CeramPigEnd.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,86},{40,38}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{40,38}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>CeramPigFly.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,86},{40,38}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{40,38}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>FreezePigIce.png</key>
            <dict>
                <key>frame</key>
                <string>{{41,156},{35,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,35}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>FreezePigIceEnd.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,152},{35,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,35}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>FreezePigIceFly.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,119},{38,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,35}}</string>
                <key>sourceSize</key>
                <string>{38,35}</string>
            </dict>
            <key>NinjaPig.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,224},{30,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,23}}</string>
                <key>sourceSize</key>
                <string>{30,23}</string>
            </dict>
            <key>NinjaPigEnd.png</key>
            <dict>
                <key>frame</key>
                <string>{{27,224},{31,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,23}}</string>
                <key>sourceSize</key>
                <string>{31,23}</string>
            </dict>
            <key>NinjaPigFly.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,44},{37,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,23}}</string>
                <key>sourceSize</key>
                <string>{37,23}</string>
            </dict>
            <key>NormalPig.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,192},{30,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,31}}</string>
                <key>sourceSize</key>
                <string>{30,31}</string>
            </dict>
            <key>NormalPigEnd.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,159},{31,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,31}}</string>
                <key>sourceSize</key>
                <string>{31,31}</string>
            </dict>
            <key>NormalPigFly.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,83},{34,27}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{34,27}}</string>
                <key>sourceSize</key>
                <string>{36,31}</string>
            </dict>
            <key>PigBombing.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,2},{47,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,40}}</string>
                <key>sourceSize</key>
                <string>{47,40}</string>
            </dict>
            <key>SpeedPig.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,119},{37,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,31}}</string>
                <key>sourceSize</key>
                <string>{37,31}</string>
            </dict>
            <key>SpeedPigEnd.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,126},{37,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,31}}</string>
                <key>sourceSize</key>
                <string>{37,31}</string>
            </dict>
            <key>SpeedPigFly.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,44},{47,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,31}}</string>
                <key>sourceSize</key>
                <string>{47,31}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Pigs.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:57fd0bf481a87d436ead85873082992d$</string>
            <key>textureFileName</key>
            <string>Pigs.png</string>
        </dict>
    </dict>
</plist>
