<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>CeramPigFog1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,54},{54,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{54,50}}</string>
                <key>sourceSize</key>
                <string>{56,50}</string>
            </dict>
            <key>CeramPigFog2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{56,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,50}}</string>
                <key>sourceSize</key>
                <string>{56,50}</string>
            </dict>
            <key>CeramPigFog3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,106},{52,48}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{52,48}}</string>
                <key>sourceSize</key>
                <string>{56,50}</string>
            </dict>
            <key>CeramPigFog4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,206},{48,48}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{48,48}}</string>
                <key>sourceSize</key>
                <string>{56,50}</string>
            </dict>
            <key>CeramPigFog5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,156},{48,48}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{48,48}}</string>
                <key>sourceSize</key>
                <string>{56,50}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>SteamFog.png</string>
            <key>size</key>
            <string>{64,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3328a2aedffa4a2e80ed2e2f37ffb857$</string>
            <key>textureFileName</key>
            <string>SteamFog.png</string>
        </dict>
    </dict>
</plist>
